@{
    ViewData["Title"] = "Manage Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Container border backgroundWhite">
    <div class="row">
        <div class="col">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Items</a>
        </div>
        <div class="col">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Item Carousel</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link" asp-area="Manage" asp-controller="Category" asp-action="Index">Categories</a>
        </div>
        <div class="col">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Users</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link" asp-area="Manage" asp-controller="SubCategory" asp-action="Index">Sub Categories</a>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="">N/A</a>
        </div>
        <div class="col">

        </div>
    </div>
</div>
